
.register-main{
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 10px 30px 10px 30px;

}
.form-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 48%;
    margin-top: 30px;
    background-color: rgba(128, 128, 128, 0);
    overflow: hidden;
}
.form-svg img{
    height: 420px;
    z-index: 2;
    object-fit: cover;
}
.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: auto;
}
.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
    border-radius: 7px;
    width: 300px;
    border: 1px solid rgba(255, 68, 0, 0);
    background-color: orangered;
}
.login-button:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: rgb(0, 0, 0);
    border-radius: 7px;
    border: 1px solid orangered;
    transition: 200ms;
    width: 300px;
    background-color: white;
    cursor: pointer;
}
.register-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: green;
    border-radius: 7px;
    width: 300px;
    margin-top: 20px;
    border: 1px solid green;
    background-color: white;
}
.register-button:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
    border-radius: 7px;
    border: 1px solid rgba(255, 68, 0, 0);
    transition: 200ms;
    width: 300px;
    margin-top: 20px;
    background-color: green;
    cursor: pointer;
}
.google-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: black;
    border-radius: 7px;
    width: 300px;
    margin-top: 0px;
    border: 1px solid grey;
    background-color: white;
}
.google-button:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
    border-radius: 7px;
    border: 1px solid rgba(255, 68, 0, 0);
    transition: 200ms;
    width: 300px;
    margin-top: 0px;
    background-color: black;
    cursor: pointer;
}
.or-login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: auto;
}
.or-login p{
    font-size: 13px;
    margin: 0px 10px 0px 10px;
}
.leftline{
    height: 1px;
    background-color: rgba(0, 0, 0, 0.541);
    width: 90px;
}
.rightline{
    height: 1px;
    background-color: rgba(0, 0, 0, 0.541);
    width: 90px;
}
.google-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 40px;
    max-width: 40px;
    overflow: hidden;
    background-color: rgba(255, 217, 0, 0);

}
.google-icon{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.circle{
    display: none;
    position: absolute;
    z-index: 1;
    height: 800px;
    width: 800px;
    transform: translate(-80%,15%);
    border-radius: 50%;
    overflow: hidden;
    background-color: orangered;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-form label{
    font-size: 14px;
    align-self: start;
    margin: 15px 0px 6px 0px;
}
.login-form p{
    font-size: 13px;
    margin: 15px 0px 6px 0px;
}
.forgot-password:hover{
    font-size: 13px;
    margin: 15px 0px 6px 0px;
    color: rgb(76, 76, 250);
    cursor: pointer;
}
.login-form input{
    height: 40px;
    width: auto;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 0px 6px 0px 6px;
    background-color: rgba(128, 128, 128, 0.555);
}
.login-new-button p{
    margin: 0px;
}
.login-new-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    color: white;
    border-radius: 7px;
    width: 300px;
    border: 1px solid rgba(255, 68, 0, 0);
    background-color: orangered;
}
.login-new-button:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    color: white;
    border-radius: 7px;
    border: 1px solid rgba(255, 68, 0, 0);
    transition: 200ms;
    width: 300px;
    background-color: green;
    cursor: pointer;
}
.loginhead{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
    z-index: 2;
    padding: 5px 10px 5px 10px;
}
.googlebtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: black;
    border-radius: 7px;
    width: auto;
    margin-top: 0px;
    border: 1px solid grey;
    background-color: white;
}
.googlebtn:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
    border-radius: 7px;
    border: 1px solid rgba(255, 68, 0, 0);
    transition: 200ms;
    width: auto;
    margin-top: 0px;
    background-color: black;
    cursor: pointer;
}
.googlebtn p{
    margin: 0px;
}
/*register form*/
.registerform{
    margin: 0px 30px 0px 30px;
}
.registerform h3{
    color: orangered;
}
.registering-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(182, 180, 180, 0.178);

}
.inputdiv{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 23%;
}
.inputdiv input{
    height: 30px;
    outline: none;
    padding: 0px 5px 0px 5px;
    border-radius: 6px;
    width: auto;
    background-color: rgba(128, 128, 128, 0);
    border: 1px rgba(0, 0, 0, 0.534) solid;
}
.inputdiv select{
    height: 30px;
    outline: none;
    padding: 0px 5px 0px 5px;
    border-radius: 6px;
    width: auto;
    background-color: rgba(128, 128, 128, 0);
    border: 1px rgba(0, 0, 0, 0.534) solid;
}
.radiodiv input[type="radio"]{
    height: 20px;
}
.registering-form label{
    font-size: 13px;
    margin: 10px 0px 5px 0px;
}
.radiodiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.radiodiv p{
    margin: 0px 0px 0px 10px;
    font-size: 13px;

}
.radiodiv label{
    margin: 0px 0px 0px 10px;

}
















@media screen and (max-width: 764px){
    .register-main{
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
        padding: 10px 30px 10px 30px;
    
    }
    .form-svg{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;

        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgba(128, 128, 128, 0);
        overflow: hidden;
    }
    .circle{
        display: flex;
        position: absolute;
        z-index: 1;
        height: 800px;
        width: 800px;
        transform: translate(-10%,-35%);
        border-radius: 50%;
        background-color: orangered;
    }
    .form-svg img{
        height: 300px;
        object-fit: cover;
    }
    .register-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 98%;
        height: auto;
    }
    .login-new-button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        color: white;
        border-radius: 7px;
        width: 362px;
        border: 1px solid rgba(255, 68, 0, 0);
        background-color: orangered;
    }
    .login-new-button:hover{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        color: white;
        border-radius: 7px;
        border: 1px solid rgba(255, 68, 0, 0);
        transition: 200ms;
        width: 362px;
        background-color: green;
        cursor: pointer;
    }
    .login-form input{
        height: 40px;
        width: 350px;
        border: none;
        outline: none;
        border-radius: 7px;
        padding: 0px 6px 0px 6px;
        background-color: rgba(128, 128, 128, 0.555);
    }
    .googlebtn{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        color: black;
        border-radius: 7px;
        width: auto;
        margin-top: 0px;
        border: 1px solid grey;
        background-color: white;
    }
    .googlebtn:hover{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        color: white;
        border-radius: 7px;
        border: 1px solid rgba(255, 68, 0, 0);
        transition: 200ms;
        width: auto;
        margin-top: 0px;
        background-color: black;
        cursor: pointer;
    }
    .googlebtn p{
        margin: 0px;
    }
    .inputdiv{
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        width: 46%;
    }
    .registering-form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px;
        margin-top: 10px;
        background-color: rgba(128, 128, 128, 0.247);
    
    }
    .registering-form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px;
        margin-top: 10px;
        background-color: rgba(182, 180, 180, 0.007);
    }
    .registerform{
        margin: 0px 10px 0px 10px;
    }
    .fillform{
        color: orangered;
    }
}

@media screen and (max-width: 600px){
    .form-svg img{
        height: 270px;
        object-fit: cover;
    }
    .circle{
        display: flex;
        position: absolute;
        z-index: 1;
        height: 800px;
        width: 800px;
        transform: translate(-10%,-35%);
        border-radius: 50%;
        background-color: orangered;
    }
    .login-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .login-new-button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        color: white;
        border-radius: 7px;
        width: 100%;
        border: 1px solid rgba(255, 68, 0, 0);
        background-color: orangered;
    }
    .login-new-button:hover{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        color: white;
        border-radius: 7px;
        border: 1px solid rgba(255, 68, 0, 0);
        transition: 200ms;
        width:  100%;
        background-color: green;
        cursor: pointer;
    }
    .login-form input{
        height: 40px;
        width: auto;
        border: none;
        outline: none;
        border-radius: 7px;
        padding: 0px 6px 0px 6px;
        background-color: rgba(128, 128, 128, 0.555);
    }
    .inputdiv{
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        width: 100%;
    }
    
}


@media screen and (max-width: 1064px) and (min-width: 764px){
    .registering-form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
        margin-top: 10px;
        background-color: rgba(128, 128, 128, 0.247);
    
    }
    .registerform{
        margin: 0px 15px 0px 15px;
    }
}