
.slide{
    display: grid;
    place-items: center;
    width: 100%;
    cursor: grab;
}



.splide__slide{
    cursor: grab;
    margin: 0px;
}

.splide-wrapper{
    display: inline-flex;
    position: relative;
    place-items: center;
    width: 100%;
    overflow: hidden;
}
.splide{
    width: 100%;
    object-fit: cover;
}

.splide__arrow--prev{
    filter: opacity(80%);
    margin-left: 0px;
}
.splide__arrow--next{
    filter: opacity(80%);
    margin-left: 0px;
}
.splide__arrow--prev:hover{
    filter: opacity(50%);
    margin-left: 0px;
    background-color: orangered;
}
.splide__arrow--next:hover{
    filter: opacity(50%);
    margin-left: 0px;
    background-color: orangered;
}

@media screen and (max-width: 764px) {
.splide__arrow--prev{
    filter: opacity(80%);
    margin-left: 0px;
}
.splide__arrow--next{
    filter: opacity(80%);
    margin-left: 0px;
}
.splide__arrow--prev:hover{
    filter: opacity(80%);
    margin-left: 0px;
    background-color: orangered;
}
.splide__arrow--next:hover{
    filter: opacity(80%);
    margin-left: 0px;
    background-color: orangered;
}
}